
{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Comment</legend>
                <h4>Are you sure you want to delete the comment <b>"{{ object.comment_body }}"</b></h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-success" href="{% url 'post-detail' object.post.id %}">No, Go Back</a>
            </div>
        </form>
    </div>
{% endblock content %}